@import "../config/config";
@import "compass";

@mixin button($backgroundColor: #ffffff, $height: 30 * $onePx, $width: 80 * $onePx) {
	width: $width;
	height: $height;
	border: solid 0.5px #dadee3;
	opacity: 0.5;
	text-align: center;
	font-weight: bold;
	font-size: 14 * $onePx;
	@include border-radius(2 * $onePx);
	cursor: pointer;
	&.active {
		background-color: #1663ba;
		box-shadow: 0 0.5px 1.5px 0 rgba(45, 75, 126, 0.2);
		color: #fff;
	}
}

@mixin avatar($radius: 40 * $onePx, $backgroundColor: #fff) {
	@include border-radius($radius);
	height: $radius;
	width: $radius;
	background-color: $backgroundColor;
	display: inline-block;
	//background: #ffffff url($imageUrl) no-repeat center center transparent;
}

@mixin single-input($focusColor: #1ab394) {
	background: #FFFFFF none;
	border: 1 * $onePx solid #e5e6e7;
	border-radius: 1 * $onePx;
	color: inherit;
	display: block;
	padding: 6 * $onePx 12 * $onePx;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	font-size: 14 * $onePx;
	margin-bottom: 15 * $onePx;
	height: 34 * $onePx;

	&:focus {
		outline: 1px solid $focusColor;
	}
}

@mixin full-width {
	width: 100%;
}

@mixin neu-select($width: 120px, $height: 34px, $color: #656a71) {
	font-size: 12px;
	color: $color;
	padding: 5px 15px;
	width: $width;
	height: $height;
	margin-left: 10px;
}

@mixin neu-input($width: 120px, $height: 34px, $color: #656a71) {
	font-size: 12px;
	color: $color;
	padding: 5px 15px;
	width: $width;
	height: $height;
	margin-left: 10px;
}

@mixin neu-btn($width: 90px, $height: 34px, $border-radius: 3px) {
	display: inline-block;
	padding: 6 * $onePx 12 * $onePx;
	margin-bottom: 0;
	font-size: 14 * $onePx;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1 * $onePx solid transparent;
	//border-radius: 3 * $onePx;
	width: $width;
	height: $height;
}

@mixin neu-btn-primary($color: #1fb1ea) {
	background-color: $color;
	border-color: $color;
	color: #FFFFFF;
}
