<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UTF v2.0</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
	<title>index</title>
	<link rel="shortcut icon" href="../../assets/img/favicon.ico"/>
	<link rel="stylesheet" href="../../vendor/normalize-css/normalize.css"/>
	<link rel="stylesheet" href="../../vendor/pace/themes/pink/pace-theme-minimal.css"/>
	<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css"/>
	<link href="../../assets/css/icon/fonts.css" rel="stylesheet"/>
	<link href="../../dist/css/dashboard.css" rel="stylesheet"/>
</head>
<body class="neu-container">
<section class="neu-header">
	<div class="logo">
		<a href="/">
			<img src="../../assets/img/acap-logo.png" alt="UTF v2.0"/>
		</a>
	</div>

	<div class="neu-top-menu">
		<ul>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-bell"></i>
					<span class="notification-number"></span>
				</a>
			</li>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-user">&nbsp;admin</i>
				</a>
			</li>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-cogs"></i>
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="neu-main">
	<div class="neu-left-menu">
		<div class="neu-sidebar-toggler">
			<a href="#" class="neu-icon neu-icon-view_column"></a>
		</div>
		<ul>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-safari"></i>
					<span class="title">用例管理</span>
					<span class="neu-icon neu-icon-keyboard_arrow_right"></span>
				</a>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-chrome"></i>
					<span class="title">参数管理</span>
					<span class="neu-icon neu-icon-keyboard_arrow_right"></span>
				</a>
			</li>
			<li class="neu-menu active">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-firefox"></i>
					<span class="title">报告管理</span>
					<span class="neu-icon neu-icon-keyboard_arrow_down"></span>
				</a>

				<ul class="neu-sub-menu">
					<li class="menu">
						<a href="#" class="menu-link">
							<span class="title">执行测试</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">测试报告</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-opera"></i>
					<span class="title">适配测试</span>
					<span class="neu-icon neu-icon-keyboard_arrow_right"></span>
				</a>
			</li>
			<li class="neu-menu active">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-internet-explorer"></i>
					<span class="title">系统</span>
					<span class="neu-icon neu-icon-keyboard_arrow_down"></span>
				</a>
				<ul class="neu-sub-menu">
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">设备申请</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">应用管理</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">SQL配置</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="neu-main-container">
		<ul class="neu-breadcrumb">
			<li class="active">
				<a href="#">Dashboard</a>
			</li>
		</ul>
		<div class="neu-page">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Product
								</th>
								<th>
									Payment Taken
								</th>
								<th>
									Status
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Default
								</td>
							</tr>
							<tr class="active">
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Approved
								</td>
							</tr>
							<tr class="success">
								<td>
									2
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									Declined
								</td>
							</tr>
							<tr class="warning">
								<td>
									3
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									03/04/2012
								</td>
								<td>
									Pending
								</td>
							</tr>
							<tr class="danger">
								<td>
									4
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									04/04/2012
								</td>
								<td>
									Call in to confirm
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="neu-footer">
	<div class="neu-footer-container">
		<ul>
			<li class="neu-footer-item">
				<div class="icon"><a><i class="neu-icon neu-icon-live_help"></i></a></div>
				<div class="title"><a>帮助中心</a></div>
				<div class="description">用过程中遇到的问题，包括产品描述、使用方法、功能介绍、报告解读，都可以在这找到答案</div>
			</li>
			<li class="neu-footer-item">
				<div class="icon"><a><i class="neu-icon neu-icon-comments"></i></a></div>
				<div class="title"><a>在线反馈</a></div>
				<div class="description">时刻用心聆听您对我们的功能建议、服务评价、产品吐槽，为您时刻准备着</div>
			</li>
			<li class="neu-footer-item">
				<div class="icon"><a><i class="neu-icon neu-icon-phone_forwarded"></i></a></div>
				<div class="title"><a>销售咨询</a></div>
				<div class="description">由销售经理为你解答购买过程中各类问题，帮您选择最优的测试解决方案</div>
			</li>
			<li class="neu-footer-item">
				<div class="icon"><a><i class="neu-icon neu-icon-handshake-o"></i></a></div>
				<div class="title"><a>代理加盟</a></div>
				<div class="description">淘金移动互联网，把握无限云商机。Testin助力您的创业梦想，代理招商进行中</div>
			</li>
		</ul>
		<div class="neu-bottom">
			<ul class="neu-copyright">
				<li>Copyright © 2015 – 2016 Neusoft Ltd. All Rights Reserved.</li>
			</ul>
			<ul class="neu-social">
				<li class="social-item"><a><i class="neu-icon neu-icon-wechat"></i></a>
				<li>
				<li class="social-item"><a><i class="neu-icon neu-icon-weibo"></i></a>
				<li>
				<li class="social-item"><a><i class="neu-icon neu-icon-facebook"></i></a>
				<li>
				<li class="social-item"><a><i class="neu-icon neu-icon-twitter"></i></a>
				<li>
			</ul>
		</div>
	</div>
</section>

<script src="../../vendor/jquery/dist/jquery.js"></script>
<script src="../../vendor/pace/pace.min.js"></script>
</body>
</html>