<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UTF v2.0</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
	<title>UTF v2 - Login</title>
	<link rel="shortcut icon" href="../../assets/img/favicon.ico"/>
	<link rel="stylesheet" href="../../vendor/normalize-css/normalize.css"/>
	<link rel="stylesheet" href="../../vendor/pace/themes/pink/pace-theme-minimal.css"/>
	<link href="../../assets/css/icon/fonts.css" rel="stylesheet"/>
	<link href="../../dist/css/common/common.css" rel="stylesheet"/>
	<link href="../../dist/css/auth/login.css" rel="stylesheet"/>
</head>
<body class="neu-container">
	<section class="neu-main">
		<div class="neu-main-container">
			<ul class="neu-login">
				<li class="title">
					<h1 class="logo-name">UTF v2</h1>
				</li>
				<li class="neu-login-form">
					<form>
						<div class="neu-form-group">
							<input type="text" class="neu-form-control" placeholder="用户名" />
						</div>
						<div class="neu-form-group">
							<input type="password" class="neu-form-control" placeholder="密码" />
						</div>
						<button class="neu-btn neu-btn-primary full-width">登录</button>
					</form>
				</li>
				<li class="copyright">All right reserved.&copy; Neusoft Co Ltd.</li>
				<li class="copyright">2015 - 2016</li>
			</ul>
		</div>
	</section>
<script src="../../vendor/jquery/dist/jquery.js"></script>
<script src="../../vendor/pace/pace.min.js"></script>
</body>
</html>