<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UTF v5.0</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
	<title>UTF v5 -- 设备操作</title>
	<link rel="shortcut icon" href="../../../../static/assets/img/favicon.ico"/>
	<link rel="stylesheet" href="../../../../static/vendor/normalize-css/normalize.css"/>
	<link rel="stylesheet" href="../../../../static/vendor/pace/themes/pink/pace-theme-minimal.css"/>
	<link rel="stylesheet" href="../../../../static/vendor/iCheck/skins/all.css"/>
	<link rel="stylesheet" href="../../../../static/assets/neusoft/bootstrap/css/bootstrap.css"/>
	<link href="../../../../static/assets/css/icon/fonts.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../../../static/assets/neusoft/dataTables/themes/default/grid.css"/>
	<link rel="stylesheet" href="../../../../static/assets/neusoft/fontello/css/fontello.css"/>

	<link href="../../../../static/dist/css/common/common.css" rel="stylesheet"/>
	<link href="../../../../static/dist/css/user/device/device.css" rel="stylesheet"/>
</head>
<body class="neu-container">
<section class="neu-header">
	<div class="logo">
		<a href="../../../..">UniEAP UTF</a>
	</div>
	<div class="neu-top-menu">
		<ul>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-bell"></i>
					<span class="notification-number"></span>
				</a>
			</li>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-user">&nbsp;admin</i>
				</a>
			</li>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-cogs"></i>
				</a>
			</li>
		</ul>
	</div>
</section>
<section class="neu-main">
	<div class="neu-left-menu">
		<div class="neu-sidebar-toggler">
			<a href="#" class="neu-icon neu-icon-view_column"></a>
		</div>
		<ul>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-safari"></i>
					<i class="title">仪表盘</i>
				</a>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-chrome"></i>
					<i class="title">系统管理</i>
					<i class="neu-icon neu-icon-keyboard_arrow_right"></i>
				</a>
				<ul class="neu-sub-menu">
					<li class="neu-menu">
						<a href="#" class="menu-link account maintenance">
							<span class="title">账户管理</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link project maintenance">
							<span class="title">项目管理</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">配置管理</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-firefox"></i>
					<i class="title">手机管理</i>
					<i class="neu-icon neu-icon-keyboard_arrow_right"></i>
				</a>

				<ul class="neu-sub-menu">
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">手机维护</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">属性配置</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-opera"></i>
					<i class="title">适配测试</i>
					<i class="neu-icon neu-icon-keyboard_arrow_right"></i>
				</a>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-internet-explorer"></i>
					<i class="title">系统</i>
					<i class="neu-icon neu-icon-keyboard_arrow_right"></i>
				</a>
				<ul class="neu-sub-menu">
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">设备申请</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">应用管理</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">SQL配置</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="neu-main-container">
		<ul class="neu-breadcrumb">
			<li class="active">
				<a href="#">主页 / 设备 / 选择设备</a>
			</li>
		</ul>
		<div class="neu-page">
			<div class="device-select">
				<div class="neu-form-title">
					<a href="#">驱动下载</a>
				</div>

				<ul class="devices">
					<li class="device">
						<div class="device-container">
							<div class="cloud-tip"></div>
							<div class="device-top">
								<div class="device-name">三星 GALAXY S7</div>
								<div class="device-operations">
									<ul>
										<li class="neu-icon neu-icon-clock-o"></li>
										<li class="neu-icon neu-icon-chain-broken"></li>
									</ul>
								</div>
							</div>
							<div class="device-details">
								<div class="device-thumbnail"></div>
								<ul class="device-detail">
									<li class="detail device-brand">
										<span>品牌:</span>
										<span>三星</span>
									</li>
									<li class="detail device-version">
										<span>版本:</span>
										<span>4.0.1</span>
									</li>
									<li class="detail device-resolution">
										<span>分辨率:</span>
										<span>590*690</span>
									</li>
									<li class="detail device-cpu">
										<span>CPU:</span>
										<span>高通8212 X4核</span>
									</li>
									<li class="detail device-ram">
										<span>RAM:</span>
										<span>4GB</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="operation-buttons">
							<ul>
								<li class="btn btn-primary button-auto">自动化测试</li>
								<li class="btn btn-primary button-manual">手工测试</li>
							</ul>
						</div>
					</li>
					<li class="device">
						<div class="device-container">
							<div class="cloud-tip">
								<span class="neu-icon neu-icon-cloud_queue"></span>
								<span class="tip-time">剩余时间:</span>
								<span class="tip-time-left">3小时45分43秒</span>
							</div>
							<div class="device-top">
								<div class="device-name">三星 GALAXY S7</div>
								<div class="device-operations">
									<ul>
										<li class="neu-icon neu-icon-clock-o"></li>
										<li class="neu-icon neu-icon-chain-broken"></li>
									</ul>
								</div>
							</div>
							<div class="device-details">
								<div class="device-thumbnail"></div>
								<ul class="device-detail">
									<li class="detail device-brand">
										<span>品牌:</span>
										<span>三星</span>
									</li>
									<li class="detail device-version">
										<span>版本:</span>
										<span>4.0.1</span>
									</li>
									<li class="detail device-resolution">
										<span>分辨率:</span>
										<span>590*690</span>
									</li>
									<li class="detail device-cpu">
										<span>CPU:</span>
										<span>高通8212 X4核</span>
									</li>
									<li class="detail device-ram">
										<span>RAM:</span>
										<span>4GB</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="operation-buttons">
							<ul>
								<li class="btn btn-primary button-auto">自动化测试</li>
								<li class="btn btn-primary button-manual">手工测试</li>
							</ul>
						</div>
					</li>
					<li class="device">
						<div class="device-container">
							<div class="cloud-tip">
								<span class="neu-icon neu-icon-cloud_queue"></span>
								<span class="tip-time">剩余时间:</span>
								<span class="tip-time-left">3小时45分43秒</span>
							</div>
							<div class="device-top">
								<div class="device-name">三星 GALAXY S7</div>
								<div class="device-operations">
									<ul>
										<li class="neu-icon neu-icon-clock-o"></li>
										<li class="neu-icon neu-icon-chain-broken"></li>
									</ul>
								</div>
							</div>
							<div class="device-details">
								<div class="device-thumbnail"></div>
								<ul class="device-detail">
									<li class="detail device-brand">
										<span>品牌:</span>
										<span>三星</span>
									</li>
									<li class="detail device-version">
										<span>版本:</span>
										<span>4.0.1</span>
									</li>
									<li class="detail device-resolution">
										<span>分辨率:</span>
										<span>590*690</span>
									</li>
									<li class="detail device-cpu">
										<span>CPU:</span>
										<span>高通8212 X4核</span>
									</li>
									<li class="detail device-ram">
										<span>RAM:</span>
										<span>4GB</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="operation-buttons">
							<ul>
								<li class="btn btn-primary button-auto">自动化测试</li>
								<li class="btn btn-primary button-manual">手工测试</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- Vendors -->
<script src="../../../../static/vendor/jquery/dist/jquery.js"></script>
<script src="../../../../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../../static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../../static/vendor/handlebars/handlebars.js"></script>
<script src="../../../../static/vendor/pace/pace.min.js"></script>
<script src="../../../../static/vendor/iCheck/icheck.min.js"></script>
<script src="../../../../static/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../../../../static/vendor/lodash/dist/lodash.core.min.js"></script>
<script src="../../../../static/vendor/echarts/echarts.min.js"></script>


<!-- template -->
<script src="../../../../static/dist/templates.js"></script>
<!-- namespace -->
<script src="../../../../static/app/main.js"></script>
<!-- DS -->
<script src="../../../../static/vendor/unieap/ds/DataCenter.js"></script>
<script src="../../../../static/vendor/unieap/ds/DataStore.js"></script>
<script src="../../../../static/vendor/unieap/ds/MetaData.js"></script>
<script src="../../../../static/vendor/unieap/ds/Row.js"></script>
<script src="../../../../static/vendor/unieap/ds/RowSet.js"></script>
<script src="../../../../static/vendor/unieap/util/util.js"></script>
<!-- components -->
<script src="../../../../static/app/components/common/load-view.js"></script>
<script src="../../../../static/app/components/navigator/nav.js"></script>
<script src="../../../../static/app/components/common/handle-render.js"></script>
<script src="../../../../static/app/components/common/ajax.js"></script>

<script type="text/javascript">
	var appPath = "/utf";
	var CONTAINER = document.getElementsByClassName('neu-page')[0];
</script>

</body>
</html>