<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UTF v2.0</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
	<title>index</title>
	<link rel="shortcut icon" href="../../assets/img/favicon.ico"/>
	<link rel="stylesheet" href="../../vendor/normalize-css/normalize.css"/>
	<link rel="stylesheet" href="../../vendor/pace/themes/pink/pace-theme-minimal.css"/>
	<link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css"/>
	<link href="../../assets/css/icon/fonts.css" rel="stylesheet"/>
	<link href="../../dist/css/dashboard.css" rel="stylesheet"/>
</head>
<body class="neu-container">
<section class="neu-header">
	<div class="logo">

	</div>

	<div class="neu-top-menu">
		<ul>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-bell"></i>
					<span class="notification-number"></span>
				</a>
			</li>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-user">&nbsp;admin</i>
				</a>
			</li>
			<li class="top-menu-item">
				<a class="menu-dropdown">
					<i class="neu-icon neu-icon-cogs"></i>
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="neu-main">
	<div class="neu-left-menu">
		<div class="neu-sidebar-toggler">
			<a href="#" class="neu-icon neu-icon-view_column"></a>
		</div>
		<ul>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-safari"></i>
					<span class="title">用例管理</span>
					<span class="neu-icon neu-icon-keyboard_arrow_right"></span>
				</a>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-chrome"></i>
					<span class="title">参数管理</span>
					<span class="neu-icon neu-icon-keyboard_arrow_right"></span>
				</a>
			</li>
			<li class="neu-menu active">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-firefox"></i>
					<span class="title">报告管理</span>
					<span class="neu-icon neu-icon-keyboard_arrow_down"></span>
				</a>

				<ul class="neu-sub-menu">
					<li class="menu">
						<a href="#" class="menu-link">
							<span class="title">执行测试</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">测试报告</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="neu-menu">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-opera"></i>
					<span class="title">适配测试</span>
					<span class="neu-icon neu-icon-keyboard_arrow_right"></span>
				</a>
			</li>
			<li class="neu-menu active">
				<a href="#" class="menu-link">
					<i class="neu-icon neu-icon-internet-explorer"></i>
					<span class="title">系统</span>
					<span class="neu-icon neu-icon-keyboard_arrow_down"></span>
				</a>
				<ul class="neu-sub-menu">
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">设备申请</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">应用管理</span>
						</a>
					</li>
					<li class="neu-menu">
						<a href="#" class="menu-link">
							<span class="title">SQL配置</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="neu-main-container">
		<ul class="neu-breadcrumb">
			<li class="active">
				<a href="#">Dashboard</a>
			</li>
		</ul>
		<div class="neu-page">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">

								<button type="button" class="btn btn-default">
									Default
								</button>
								<button type="button" class="btn btn-default">
									Default
								</button>
								<button type="button" class="btn btn-default">
									Default
								</button>
								<button type="button" class="btn btn-default">
									Default
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Profile</a>
									</li>
									<li class="disabled">
										<a href="#">Messages</a>
									</li>
									<li class="dropdown pull-right">
										<a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
										<ul class="dropdown-menu">
											<li>
												<a href="#">Action</a>
											</li>
											<li>
												<a href="#">Another action</a>
											</li>
											<li>
												<a href="#">Something else here</a>
											</li>
											<li class="divider">
											</li>
											<li>
												<a href="#">Separated link</a>
											</li>
										</ul>
									</li>
								</ul>
								<div class="row">
									<div class="col-md-12">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<form class="form-horizontal" role="form">
											<div class="form-group">

												<label for="inputEmail3" class="col-sm-2 control-label">
													Email
												</label>
												<div class="col-sm-10">
													<input type="email" class="form-control" id="inputEmail3" />
												</div>
											</div>
											<div class="form-group">

												<label for="inputPassword3" class="col-sm-2 control-label">
													Password
												</label>
												<div class="col-sm-10">
													<input type="password" class="form-control" id="inputPassword3" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<div class="checkbox">

														<label>
															<input type="checkbox" /> Remember me
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">

													<button type="submit" class="btn btn-default">
														Sign in
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">

										<button type="button" class="btn btn-default">
											Default
										</button>
										<button type="button" class="btn btn-default">
											Default
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script src="../../vendor/jquery/dist/jquery.js"></script>
<script src="../../vendor/pace/pace.min.js"></script>
</body>
</html>